# Ambientes Virtuais
venv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc

# (Opcional) Vamos manter o dados.db fora do gitignore 
# para que o professor consiga ver os dados que você já salvou!